.wrapper {
    width: 200px;
    font-size: 1.4rem;
    color: var(--red-color);
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: transparent;
    font-weight: 500;
    cursor: pointer;
    padding: 9px 12px;
    .title {
        line-height: 1;
    }
}

.primary {
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--red-color);
}

.disable {
    text-transform: uppercase;
    color: var(--white);
    background-color: #aaaaaa;
}

.outLine {
    border-color: var(--red-color);

    &:hover {
        background-color: var(--hover-color);
    }
}
