.wrapper {
    width: 220px;
    border-radius: 4px;
    margin-right: 12px;
    font-size: 1.4rem;
    padding: 9px 12px;
    outline: none;
    opacity: 0.9;
    font-weight: 400;
    cursor: pointer;
    color: var(--red-color);
    background-color: transparent;
    border: 1px solid transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    .title {
        line-height: 1;
        text-align: center;
    }

    &:hover {
        opacity: 1;
    }
}

.primary {
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--red-color);
}

.disable {
    text-transform: uppercase;
    color: var(--white);
    background-color: #aaaaaa;
}

.outLine {
    border-color: var(--red-color);

    &:hover {
        background-color: var(--hover-color);
    }
}
