@import 'normalize.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:400, 400italic, 500, 500italic, 700, 700italic, 900, 900italic, 300italic, 300, 100italic, 100');

:root {
    --primary: #7CAB52;
    --white: #fff;

    --default-layout-width: 1180px;
    --default-header-height: 80px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}
