.wrapper {
    display: flex;
    align-items: center;
    margin-top: 12px;
    cursor: pointer;

    &:hover {
        background-color: var(--hover-color);
    }
}

.img {
    width: 65px;
    height: 65px;
    object-fit: contain;
    margin-left: 3px;
}

.description {
    font-size: 1.3rem;
    margin-left: 10px;
    padding: 5px 0;
    .title {
        font-weight: 500;
        color: #666666;
        padding: 3px 0;
    }

    .price {
        color: #d42333;
    }
}
