.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container {
    width: var(--default-layout-width);
    margin-top: 100px; // minus bell btn and back to top btn (20px)
}

.content {
    flex: 1;
}
