.wrapper {
    width: 100%;
    height: var(--default-navigation-height);
    background-color: #f1f0f1;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    z-index: 15050;
}

.content {
    width: var(--default-layout-width);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#portal {
    z-index: 2;
    // display: none;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}

.btn-category {
    display: flex;
    cursor: pointer;
    position: relative;
    align-items: center;
    height: var(--default-navigation-height);

    span {
        font-size: 1.3rem;
    }

    &:hover {
        opacity: 0.7;
    }
}

#category {
    position: relative;

    &:hover > .dropdown {
        display: block;
    }
}

.dropdown {
    width: 100%;
    display: none;
    position: absolute;
    min-width: 228px;
    top: 0;
    left: 0;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    z-index: 10;
}

.menu-list {
    max-height: 56vh;
    overflow-y: overlay;
}

.menu-item {
    position: static;
    padding: 11px 0 11px 12px;
    color: #333;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    &:hover {
        background-color: var(--hover-color);
    }
}

.sub-menu {
    border-left: 8px solid #f1f0f1;
    width: 953px;
    max-height: 60vh;
    background-color: var(--white);
    z-index: 2;
    padding: 0 10px 10px;
    color: #000;
    display: flex;
    overflow-y: overlay;
}

.sub-menu__list {
    width: 25%;

    .sub-menu__item {
        padding: 12px 0 12px 14px;
        font-size: 1.4rem;
        color: #333;
        cursor: pointer;

        &:hover {
            color: var(--red-color);
        }
    }
}

.sub-menu__image {
    width: 75%;
    max-height: 225px;

    display: flex;
    justify-content: center;
    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}

.dropdown-icon {
    margin-right: 15px;
}

.icon {
    margin-right: 7px;
}

.actions {
    display: flex;
    position: relative;

    height: 100%;
}

.action-details {
    display: flex;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;

    &:not(.sells):hover {
        opacity: 0.7;
    }

    span {
        font-size: 1.2rem;
    }
}

.action-details.sells {
    font-size: 2rem;
    color: var(--red-color);
    font-weight: 600;

    span {
        font-size: 1.6rem;
    }
}

.watched-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-shadow: 0 0 10px 0 #bbb;
    background-color: var(--white);
    z-index: 1;
}

.product {
    width: 140px;
    height: 100%;
    margin: 5px 8px;
    text-align: center;
    cursor: pointer;

    .product-image {
        height: 70px;
        width: 108px;
        object-fit: scale-down;
    }

    .product-name {
        color: #333;
        font-size: 1.2rem;
        line-height: 1.3;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.02);
    }

    &:hover > .product-name {
        color: var(--red-color);
    }
}
