.wrapper {
    .title {
        text-align: center;
        margin-top: 12px;
        line-height: 2.5;
        padding-left: 8px;
        font-size: 3.2rem;
        color: #121828;
        font-weight: 500;
    }
}

.btn-new-product {
    width: 100%;
    .btn-cancel {
        margin-left: 12px;
    }
}

.form {
    width: 1000px;
    margin: 0 auto;
    padding: 24px 12px;
    display: flex;
    background-color: var(--white);
}

.new-product-product {
    display: flex;
    flex-direction: column;
    width: 100%;

    padding: 12px 20px;

    .form-row {
        display: flex;
        justify-content: center;
        width: 100%;

        padding: 12px 0;
    }
}

.new-product-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.new-product-label {
    font-size: 1.3rem;
    width: 20%;
    margin-left: 15px;

    .red-text {
        color: var(--red-color);
    }
}
