.wrapper {
    width: var(--default-layout-width);
    position: relative;
    margin: 1px auto 0 auto;
}

.image {
    display: block;
    object-fit: contain;
    height: 100%;
    margin: auto;
    width: 100%;
}

.dmcqek {
    height: 40px;
    width: 24px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.4);
    padding: 0px;
    border-radius: 0px;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px;
    border: 0px;
    outline: 0px;
    cursor: pointer;
    position: absolute;
    top: 46%;
    left: 0px;
    margin-top: -20px;
    z-index: 99;
}
